*{
  background-color: #C5C5C5;
}

body{
  width: 100%;
  height: 100vh;
  margin: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

/*.head img{
  display: flex;
  width: 80vw;
}*/
.head{
  display: flex;
  width: 100%;
  height: 10vw;
  background: url("../res/img/bandeau-1.jpg");
  /*background-repeat: no-repeat;*/
  background-size: cover;
  background-position: 0 50%
  flex: 0 1 auto;;
}

.head img{
  width: 12vw;
  height: 10vw;
  background-color: transparent;
}

.contenu{
  width: 84vw;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  background-color: #F5EFEF;
  margin: auto;
  flex: 1 1 auto;;
}

.contact{
  /*width: 84vw;*/
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: #F5EFEF;
  color: #4e4e4e;
}

.menu,.footer{
  background-color: #714439;
  color: #F5EFEF;
  display: flex;
  font-size: 1.25vw;
  font-family: 'Kalam', cursive;
}

.menu{
  width: 100%;
  /*padding-left: 12.5%;*/
}

.fixMenu{
  /*width: 84vw;*/
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  background: transparent;
}

.menu div{
  margin-left: auto;
  margin-right: auto;
}

.item{
  /*background: #536A73 ;*/
  padding: 1vw;
  width: 12vw;
  text-align: center;
  font-size: 2vw;
}

/*.item:hover{
  background-color: #7b8b91;
}*/


.article{
  padding: 3vw;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #4e4e4e;
  background-color: #F5EFEF;
}

.article .illustration{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.article *{
  background-color: #F5EFEF;
}

.article h1{
  font-size: 36px;
  font-family: 'Kalam', cursive;
}

.article p{
  font-size: 20px;
}

.menu .item, .footer .item{
  background-color: #714439;
}

.menu .item:hover, .footer .item:hover, .menu .curent{
  background-color: #886D66;
}

.bouton{
  padding: 5px 10px;
  background: #0074C9;
  color: #F5EFEF;
  font-size: 20px;
  border-radius: 9px;
  border: none;
}

.bouton:hover{
  background: #88BDDA;
}

/*.item::before{
  position: absolute;
content: '';
top: 0%;
height: inherit;
width: 1px;
background: rgba(34, 36, 38, 0.1);
}*/

.defile img{
  width: 100%;
  height: 35vw;
}


.contact *{
  background-color: #F5EFEF;
}


.form{
  padding: 3vw;
  text-align: center;
  background-color: #F5EFEF;
}

.form label{
  background-color: #F5EFEF;
}

footer{
  background-color: #714439;
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: row;
  /*align-self:flex-end;*/
  flex: 0 1 auto;
}

footer div{
  margin-left: auto;
  margin-right: auto;
}

#img404{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 30vw;
}
