*{
  background-color: #F5EFEF;
}

.all{
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

/*.head img{
  display: flex;
  width: 80vw;
}*/
.head{
  display: flex;
  width: 100%;
  height: 25vh;
  background: url("../res/img/bandeau-1.jpg");
  /*background-repeat: no-repeat;*/
  background-size: cover;
  background-position: 0 50%
}

.head img{
  width: 12vw;
  height: 10vw;
  background-color: transparent;
}

.menu{
  background-color: #714439;
  color: #F5EFEF;
  display: flex;
  font-size: 1.25vw;
  font-family: 'Kalam', cursive;
}

.item{
  background: #536A73 ;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 12vw;
  text-align: center;
  font-size: 2vw;
}

.menu .item{
  background-color: #714439;
}

.item:hover{
  background-color: #000;
}

/*.item::before{
  position: absolute;
content: '';
top: 0%;
height: inherit;
width: 1px;
background: rgba(34, 36, 38, 0.1);
}*/

.defile img{
  width: 100%;
  height: 35vw;
}

footer{
  width: 80vw;
  height: 5vh;
  margin: auto;
  background-color: #714439;
  display: flex;
  flex-direction: row;
}

footer div{
  margin-left: auto;
  margin-right: auto;
}
